// fonts
.fp {font-family: Verdana, Arial, Courier, sans-serif} // font primary
.fh {font-family: 'Exo 2', sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #452e04;
@c2: #074055;
@c3: #b26f0e;
@c4: #5095ae;
@c5: #eb9205;
@c6: #1173ac;
@c7: #b9e1f2;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 12px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 12px;
@input-height: 20px;
@input-padding: 10px;
@input-border: #698c98;
@input-bg: #fff;

// layout
@content-width: 980px;
@content-width-md: 980px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";
@xxs: ~"(max-width: 479px)";