body {
	@media @xs {
		background: none;
	}
}
.img-left {
	float: left;
	margin: 4px 15px 10px 0;
}
.img-right {
	float: right;
	margin: 4px 0 10px 15px;
}
#page-header {
	position: relative;
	overflow: hidden;
	min-height: 240px;
	margin: 0 0 -117px;
	background: url(../images/bg/02.png) no-repeat top;
	@media @xs {
		background: none;
		margin: 0;
		min-height: 0;
	}
	.logo {
		float: left;
		margin: 40px -100px 0 15px;
		@media @xs {
			float: none;
			text-align: center;
			margin: 10px 0;
		}
		a {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}
#col-main {
	.clearfix;
	position: relative;
	float: left;
	width: 680px;
	padding: 4px 7px 50px 0;
	background: fade(#fff,50);
	@media @sm {
		width: 700px;
	}
	@media @xs {
		width: auto;
		float: none;
		padding: 20px 0 50px;
	}
}
#col-left {
	float: left;
	width: 220px;
	background: fade(#fff,70);
	@media @xs {
		float: none;
		width: auto;
	}
}
#col-center {
	float: left;
	width: 450px;
	padding: 7px 20px 0 25px;
	background: fade(#fff,70);
	@media @sm {
		width: 473px;
	}
	@media @xs {
		float: none;
		width: auto;
		padding: 20px 0 50px;
	}
}
#col-right {
	width: 260px;
	float: left;
	background: #fff;
	padding: 0 0 50px;
	@media @sm, @xs {
		float: none;
		clear: both;
		width: auto;
	}
}
#col-bottom {
	.clearfix;
	background: -moz-linear-gradient(top,  rgba(178,111,14,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(178,111,14,0.1) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(178,111,14,0.1) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab26f0e', endColorstr='#00000000',GradientType=0 );
	background-size: 30px auto;
	background-repeat: repeat-x;
	border-top: 1px solid fade(@c3,20);
}
.menu_top {
	position: relative;
	font-weight: bold;
	font-size: 10px;
	line-height: 1.2;
	margin: 3px 0 0;
	text-align: right;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6ffffff',GradientType=1 );
	@media @xs {
		background: none;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		width: 9999em;
		background: rgba(255,255,255,9);
		@media @xs {
			display: none;
		}
	}
	ul {
		.rul;
		display: inline-block;
		@media @xs {
			display: block;
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			margin: 7px 0 10px;
			padding: 0 0 0 8px;
			&:last-child {
				&:before{
					display: none;
				}
			}
			&:before{
				content: '|';
				color: @c6;
				font-size: 14px;
				top: -1px;
				left: auto;
				right: -8px;
			}
			a {
				color: @c6;
			}
		}
	}
	.newsletter {
		display: inline-block;
		margin: 0 0 0 20px;
		@media @xs {
			display: block;
			text-align: center;
		}
		a {
			display: inline-block;
			&:before{
				.fi;
				content: '\e808';
				float: right;
				font-size: 16px;
				font-weight: normal;
				margin: -2px 0 0 10px;
			}
		}
	}
}
.menu_main {
	float: left;
	margin: 0 12px 0 0;
	@media @xs {
		float: none;
	}
	ul {
		.rul;
		.clearfix;
		float: left;
		border-top: 1px solid fade(@c2,10);
		border-right: 1px solid fade(@c2,10);
		@media @xs {
			float: none;
			border: 0;
			text-align: center;
			margin: 10px 0;
		}
		li {
			.rli;
			float: left;
			margin: 0 1px 0 0;
			@media @xs {
				margin: 0;
				display: inline-block;
				float: none;
			}
			&:last-child {
				margin-right: 0;
			}
			&.on {
				a {
					padding-left: 23px;
					padding-right: 23px;
					color: @c5;
					text-decoration: none;
					background: #fff;
					@media @xs {
						color: #fff;
						background: @c4;
					}
					&:before{
						display: none;
					}
				}
			}
			a {
				display: block;
				color: @c4;
				background: @c7;
				padding: 9px;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 10px;
				line-height: 1;
				&:before{
					.fi;
					content: '\e80c';
					font-size: 7px;
					float: left;
					margin: 3px 5px 0 0;
				}
			}
		}
	}
}
.menu_lang {
	float: left;
	@media @xs {
		float: none;
	}
	ul {
		.rul;
		float: left;
		@media @xs {
			float: none;
			text-align: center;
		}
		li {
			.rli;
			float: left;
			margin: 0 3px 3px 0 0;
			@media @xs {
				float: none;
				display: inline-block;
			}
			a {
				display: block;
				padding: 2px;
				background: @c7;
				&:hover{
					background: @c2;
				}
				img {
					width: 28px;
					display: block;
				}
			}
		}
	}
}
.menu_sidebar {
	margin: 5px 0 0;
	@media @xs {
		margin: 10px 0;
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			@media @xs {
				display: inline-block;
				margin: 0 5px 5px 0;
			}
			a {
				display: block;
				font-weight: bold;
				font-size: 11px;
				line-height: 1.2;
				padding: 8px 0 7px 33px;
				border-bottom: 1px solid #c1cfd4;
				@media @xs {
					border-bottom: none;
					padding: 0 0 0 10px;
				}
				&:before{
					.fi;
					content: '\e80c';
					position: absolute;
					top: 12px;
					left: 23px;
					font-weight: normal;
					font-size: 6px;
					line-height: 1;
					color: @c5;
					@media @xs {
						left: 0;
						top: 3px;
					}
				}
			}
		}
	}
}
.box_search {
	.clearfix;
	padding: 18px 25px 20px 15px;
	background: -moz-linear-gradient(top,  rgba(7,64,85,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(7,64,85,0.1) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(7,64,85,0.1) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a074055', endColorstr='#00000000',GradientType=0 );
	background-size: 100px auto;
	background-repeat: repeat-x;
	@media @xs {
		padding: 20px 0;
	}
	.title {
		.fh;
		font-size: 16px;
		line-height: 1.2;
		font-weight: bold;
		text-transform: uppercase;
		color: @c2;
		margin: 0 0 8px;
	}
	input[type="text"] {
		margin: 0 0 2px;
	}
	button {
		float: right;
		background: none;
		color: @c4;
		text-decoration: underline;
		font-weight: bold;
		font-size: 10px;
		padding: 0 6px;
		&:hover{
			text-decoration: none;
		}
		&:before{
			.fi;
			content: '\e80c';
			color: @c5;
			font-size: 7px;
			margin: 0 5px 0 0;
			float: left;
		}
	}
}
.news_items {
	.title {
		.fh;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.2;
		color: @c2;
		font-weight: bold;
		margin: 0 0 7px;
	}
	.item {
		.clearfix;
		font-size: 11px;
		margin:  0 0 25px;
		figure {
			margin: -5px 14px 5px 0;
			width: 26%;
			float: left;
			img {
				display: block;
				border: 1px dotted #ccc;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			a {
				&:hover{
					img {
						border: 1px solid @c2;
					}
				}
			}
		}
		h2 {
			.fp;
			font-size: 12px;
			font-weight: bold;
			margin: 0 0 5px;
			a {
				
			}
		}
		p {
			display: inline;
		}
		nav {
			display: inline;
			a {
				color: @c4;
				display: inline-block;
				margin: 0 0 0 10px;
				&:before{
					.fi;
					content: '\e80c';
					font-size: 6px;
					float: left;
					margin: 4px 2px 0 0;
					color: @c5;
				}
			}
		}
		&.main {
			margin:  0 0 38px;
			figure {
				float: none;
				width: auto;
				margin: 0 0 22px;
			}
		}
	}
}
.box_info {
	.title {
		.fh;
		.border-radius(4px);
		.rotate(-4deg);
		position: relative;
		top: -47px;
		color: #fff;
		background: @c2;
		font-size: 21px;
		line-height: 1;
		margin: 0 2px -60px -5px;
		padding: 12px 15px 12px 65px;
		@media @sm, @xs {
			.rotate(0deg);
			margin-left: 0;
			margin-right: 0;
			padding-left: 15px;
			text-align: center;
		}
		mark {
			display: block;
			font-weight: bold;
			color: #fff;
			margin: 0 0 0 -22px;
			@media @sm, @xs {
				display: inline;
				margin: 0;
			}
		}
	}
	.phone {
		.fh;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.2;
		text-transform: uppercase;
		padding: 26px 15px 13px;
		color: @c2;
		background: @c5;
		@media @sm, @xs {
			text-align: center;
		}
		mark {
			font-weight: normal;
			color: @c2;
			font-size: 24px;
			white-space: nowrap;
		}
	}
}
.box_map {
	.border-radius(4px);
	padding: 15px;
	color: @c4;
	font-size: 11px;
	line-height: 1.3;
	margin: 0 0 10px;
	border-bottom: 4px solid @c2;
	@media @sm, @xs {
		text-align: center;
	}
	.title {
		.fh;
		font-size: 16px;
		line-height: 1.2;
		font-weight: bold;
		color: @c2;
		text-transform: uppercase;
		margin: 0 0 15px;
	}
	p {
		margin: 0 0 5px;
	}
	object,embed {
		display: block;
		width: 100%;
		height: 170px;
		@media @sm, @xs {
			height: 200px;
		}
	}
}
.box_consulting {
	padding: 0 0 0 60px;
	font-size: 11px;
	min-height: 85px;
	background: url(../images/icon/01.png) no-repeat 10px 0;
	@media @sm, @xs {
		padding: 30px 0 0 80px;
	}
	.title {
		.fh;
		font-size: 16px;
		line-height: 1.2;
		color: @c2;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 10px;
	}
	ul {
		.rul;
		li {
			line-height: 1.2;
			font-weight: bold;
			padding: 0 0 0 12px;
			margin: 0 0 8px;
			@media @sm, @xs {
				display: inline-block;
				margin-right: 10px;
			}
			a {
				color: @c4;
			}
		}
	}
}
.box_contest {
	float: left;
	width: 215px;
	padding: 15px 20px 30px 15px;
	font-size: 11px;
	line-height: 1.4;
	background: #f3f1ed;
	@media @xs {
		width: auto;
		float: none;
		padding: 15px;
	}
	.title {
		.fh;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: bold;
		color: @c3;
		margin: 0 0 20px;
	}
	figure {
		margin: 0 0 12px;
		img {
			display: block;
			border: 1px dotted #ccc;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			@media @xs {
				max-height: 120px;
			}
		}
	}
	p {
		margin: 0 0 15px;
	}
	nav {
		a {
			.fh;
			position: relative;
			font-weight: 300;
			display: inline-block;
			padding: 0 0 0 28px;
			text-transform: uppercase;
			text-decoration: none;
			color: @c3;
			font-size: 13px;
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e80c';
				position: absolute;
				left: 0;
				top: 50%;
				width: 24px;
				height: 24px;
				margin: -12px 0 0;
				line-height: 16px;
				font-size: 8px;
				text-align: center;
				border: 4px solid @c3;
				background: lighten(@c3,40);
			}
		}
	}
}
.box_video {
	float: left;
	width: 460px;
	padding: 15px 25px 30px 30px;
	@media @sm {
		width: 485px;
		padding-right: 35px;
		padding-left: 35px;
	}
	@media @xs {
		width: auto;
		float: none;
		padding: 15px;
	}
	.title {
		.fh;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: bold;
		color: @c3;
		margin: 0 0 15px;
	}
	figure {
		float: right;
		width: 52%;
		@media @xs {
			float: none;
			width: auto;
			margin: 0 0 10px;
		}
		img {
			display: block;
			@media @xs {
				max-height: 130px;
			}
		}
	}
	.content {
		float: left;
		width: 48%;
		padding: 0 20px 0 0;
		font-size: 11px;
		line-height: 1.4;
		@media @xs {
			width: auto;
			float: none;
			padding: 0;
		}
		h2 {
			.fp;
			font-size: 11px;
			line-height: 1.6;
			font-weight: bold;
			margin: 0 0 5px;
			a {
				color: @c3;
			}
		}
		nav {
			a {
				.fh;
				position: relative;
				font-weight: 300;
				display: inline-block;
				padding: 0 0 0 28px;
				text-transform: uppercase;
				text-decoration: none;
				color: @c3;
				font-size: 13px;
				&:before{
					.fi;
					.border-radius(50%);
					content: '\e80c';
					position: absolute;
					left: 0;
					top: 50%;
					width: 24px;
					height: 24px;
					margin: -12px 0 0;
					line-height: 16px;
					font-size: 8px;
					text-align: center;
					border: 4px solid @c3;
					background: lighten(@c3,40);
				}
			}
		}
	}
}
.box_poll {
	float: left;
	padding: 15px 20px 30px;
	width: 265px;
	font-size: 11px;
	color: @c3;
	background: -moz-linear-gradient(top,  rgba(178,111,14,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(178,111,14,0.1) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(178,111,14,0.1) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab26f0e', endColorstr='#00000000',GradientType=0 );
	background-size: 200px auto;
	background-repeat: repeat-x;
	@media @sm, @xs {
		float: none;
		width: auto;
		clear: both;
	}
	.title {
		.fh;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: bold;
		color: @c3;
		margin: 0 0 12px;
	}
	p {
		margin: 0 0 5px;
	}
	.poll {
		margin: 0 0 15px;
		.item {
			padding: 0 50px 0 0;
			margin: 0 0 10px;
			a {
				color: @c3;
			}
			.result {
				position: relative;
				height: 8px;
				margin: 3px 0;
				background: @c3;
				mark {
					position: absolute;
					top: -2px;
					left: 100%;
					line-height: 1;
					margin: 0 0 0 5px;
				}
			}
		}
	}
	nav {
		a {
			.fh;
			position: relative;
			font-weight: 300;
			display: inline-block;
			padding: 0 0 0 28px;
			text-transform: uppercase;
			text-decoration: none;
			color: @c3;
			font-size: 13px;
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e80c';
				position: absolute;
				left: 0;
				top: 50%;
				width: 24px;
				height: 24px;
				margin: -12px 0 0;
				line-height: 16px;
				font-size: 8px;
				text-align: center;
				border: 4px solid @c3;
				background: lighten(@c3,40);
			}
		}
	}
}
#page-footer {
	padding: 20px 0;
	border-top: 2px solid lighten(@c3,55);
	.copy {
		text-align: center;
		font-size: 11px;
	}
}